#options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
}
.optionbutton{
    background: transparent;
    color: white;

}
.optionbutton:hover{
    background-color: #201f1f;;
}